* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: "roboto" !important;
  font-size: 1em;

}

.container {
  width: 100%;
}

.header {
  min-width: 70%;
}

.nav-list__link {
  text-decoration: none;
  color: black;
  margin-right: 1em;
}

.nav-list__link--fake-btn {
  color: #337199;
  font-weight: bold;
  padding: 10px 16px;
  border: 1px solid #ccd3d9;
  border-radius: 3px;
}

.nav-list__link--fake-btn:hover {
  border: 1px solid #95c4e6;
  background: #edf7ff;
}

.nav-list__item {
  margin-left: 2em;
}

.nav-list__item--border {
  border-right: 1px solid gray;
  padding-right: 2em;
}

/* Dropdown submenu */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

@media screen and (max-width: 1420px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .login-register-form {
    display: none;
  }

  .navbar-brand img{
    width: 100%;
    height: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }


  .login-register-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-list__link {
    margin-top: 1em;
  }

  .navbar-brand img{
    width: 95px;
    height: 45px;
  }
}